.section__aboutus {  
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: var(--white-col-1);
}

.aboutus__title {  
   margin-bottom: 16px; 
}
.aboutus__text {  
   max-width: 1080px; 
}

@media only screen and (max-width: 1024px)  {
    .section__aboutus {  
        padding-bottom: 70px;
    }

} 

@media only screen and (max-width: 768px)  {

    .section__aboutus { 
        padding-bottom: 70px;
    }  
    
}  
@media only screen and (max-width: 324px) {  

    .section__aboutus {  
        padding-top: 50px;
        padding-bottom: 37px;
    }
    .aboutus__title {  
        font-size: 28px;
        line-height: 38px;
    }
    .aboutus__text {  
        font-size: 14px;
        line-height: 28px;
        max-width: 290px;
    }

}
