
*:focus {
  outline: none;
}
.section__catalog {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white-col-1);
}
.catalog__info-title {
  margin-bottom: 16px;
}

.catalog__info-text {
  width: calc(1080/1600 * 100%);
  margin-bottom: 41px;
}
.catalog__content {
  display: flex;
  justify-content: space-between;
}
.catalog__content-left {
  width: calc(750/1600 * 100%);
}

.content-left__wrap {
  display: none;
}
.content-left__wrap.active {
  display: block;
}
.js-tab-content .content-left__image {
  animation: fading .5s;
}
.js-tab-content .content-left__desc {
  animation: fading .5s;
}
.catalog__content-right {
  width: calc(800/1600 * 100%);
}
.content-left__image {
  margin-bottom: 27px;
}
.content-left__header {
  margin-bottom: 9px;
}
.content-left__birth-info {
  font-size: 12px;
  line-height: 16px;
  color: rgba(153, 153, 153, 1);
}
.content-left__birth-info {
  margin-bottom: 15px;
}
.catalog__link {
  color: var(--orange-col-1);
  font-size: var(--fsz-sm);
  line-height: 32px;
  font-weight: 600;
  cursor: pointer;
}
.accordeon__elem-text {
  padding: 41px 0;
  display: block;
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--white-col-4);
  border-left: none;
  border-right: none;
  text-align: left;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 3;
  transition: color .3s ease-in-out;
  margin-bottom: 0;
  margin-top: -1px;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.accordeon__elem-text span {
  max-width: 210px;
  transition: background-color .3s ease-in-out;
}
.accordeon__elem-text:focus:not(:hover) span {
  background-color: var(--orange-col-4);
}
.accordeon__elem-text:focus:not(:hover):after {
  background-color: var(--orange-col-3);
}
.accordeon__elem-text:focus:not(:hover) span {
  color: var(--white-col-1);
  outline: none;
}

.accordeon__elem-text::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 30%;
  border-radius: 50%;
  background-color: var(--grey-col-3);
  background-image: url(../image/catalog/accord-toggle.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition:  background-color .3s ease-in-out, transform .3s ease-in-out;
}
.accordeon__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

/* .accordeon__elem-text.is-open + .accordeon__content {
  animation: expand 1s;
}
  */

.content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.accordeon__content-img {
  width: calc(275/800 * 100%);
  border: 2px solid var(--grey-col-1);
  padding: 12px;
  margin-right: 24px;
  flex-shrink: 0;
}

.accordeon__content-inner {
  width: calc(501/800 * 100%);
}
.accordeon__content-text {
  max-width: 275px;
  font-size: var(--fsz-sm);
  line-height: 21px;
}
.accordeon__list {
  padding: 25px 0;
  border-top: 1px solid var(--white-col-4);
  column-count: 3;
  width: 91%;
}

.accordeon__item {
  border-bottom: 1px solid transparent;
  width:fit-content;
  transition: border-bottom .3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.accordeon__item-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0 ;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--orange-col-4);
  transform-origin: left;
  transform: scale(0);
  transition: transform .3s ease-in-out;
}
.accordeon__item-link:focus:not(:hover)::before {
  transform: scale(1);
}
.accordeon__item-link span {
  position: relative;
}
.accordeon__item-link:hover {
  border-bottom: 1px solid var(--orange-col-1);
}
.accordeon__item-link:active {
  border-bottom: 1px solid transparent;
}

.accordeon__elem-text.is-open::after,
.accordeon__elem-text:active::after{
  transform: rotate(180deg);
  background-color: var(--orange-col-3);
  box-shadow: 0px 0px 0px 2px var(--orange-col-4);
}

.accordeon__elem:first-child .accordeon__elem-text {
  border-top: 1px solid var(--white-col-4);
}
.accordeon__elem:first-child .accordeon__elem-text:hover,
.accordeon__elem-text:hover {
  border-color: var(--orange-col-1);
}
.accordeon__elem-text:hover span {
  color: var(--orange-col-1);
}
.accordeon__elem-text:hover::after {
  background-color: var(--orange-col-3);
}
.accordeon__elem:first-child .accordeon__elem-text.is-open,
.accordeon__elem-text.is-open,
.accordeon__elem:first-child .accordeon__elem-text:active,
.accordeon__elem-text:active{
  border-color: var(--orange-col-4);
}
.accordeon__elem-text.is-open,
.accordeon__elem-text:active {
  color: var(--orange-col-4);
}
.accordeon__elem-text.is-open ~ .accordeon__content {
  border-bottom: 1px solid var(--grey-col-3);
}


@keyframes fading {
  0% {opacity: 0;}
  25% {opacity: .25;}
  50% {opacity: .5;}
  75% {opacity: .75;}
  100% {opacity: 1;}
}


@media only screen and (max-width: 1280px) {
  .accordeon__list  {
    column-count: 2;
  }
}

@media only screen and (max-width: 1024px) {

  .section__catalog {
    padding-bottom: 40px;
  }
  .accordeon__content-text {
    max-width: 207px;
  }
  .catalog__info-text {
    width: 100%;
    margin-bottom: 39px;
  }
  .catalog__content-left {
    width: 50%;
    margin-right: 50px;
   }
    .catalog__content-right {
      width: 50%;
    }
    .accordeon__list {
      width: 116%;
      padding: 25px 0 13px;
    }
    .accordeon__elem-text::after {
      bottom: 25%;
    }
    .content-left__header {
      margin-bottom: 11px;
    }
    .content-left__text {
        line-height: 32px;
        margin-bottom: 11px;
    }
    .accordeon__content-img {
      width: calc(189/437 * 100%);
      margin-right: 25px;
    }
    .accordeon__content-inner {
      width: 50%;
    }
}

@media only screen and (max-width: 768px) {

  .catalog__content {
    flex-direction: column-reverse;
  }
  .catalog__content-left {
    width: 100%;
    margin-right: 0;
  }
  .catalog__content-right {
      width: 100%;
  }
  .catalog__info-text {
    margin-bottom: 20px;
  }
  .catalog__accordeon {
    margin-bottom: 54px;
  }
  .content-left__image {
    margin-bottom: 20px;
  }
  .content-left__header {
    margin-bottom: 8px;
  }
  .content-left__birth-info {
    margin-bottom: 8px;
  }
  .content-left__text {
    line-height: 32px;
    margin-bottom: 0;
    font-size: var(--fsz-sm);
   }
   .accordeon__list {
    column-count: 3;
    width: 91%;
   }
   .accordeon__content-img {
    width: calc(275/668 * 100%);
   }
   .accordeon__content-inner {
    width: calc(369/668 *100%);
   }
}

@media only screen and (max-width: 480px) {
  .accordeon__content-img {
    width: 40%;
  }
  .accordeon__content-inner {
    width: 60%;
  }
  .accordeon__content-title {
    font-size: 18px;
  }
  .accordeon__list {
    column-count: 2;
    width: 100%;
  }
  .accordeon__elem-text {
    font-size: 20px;
  }
  .accordeon__content-text {
    width: 100%;
}
}
@media only screen and (max-width: 325px) {
    .section__catalog {
      padding-top: 50px;
    }
    .catalog__info-title {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 12px;
    }
    .catalog__info-text {
      display: none;
    }
    .accordeon__elem-text {
      padding: 20px 0;
    }
    .accordeon__elem-text::after {
      width: 30px;
      height: 30px;
      background-image: url(../image/catalog/accord-toggle2.svg);
    }
    .accordeon__list {
      column-count: 1;
      padding: 2px 0 14px;
      }
    
    .accordeon__elem-text  {
      font-size: 18px;
    }
    .catalog__accordeon {
      margin-bottom: 50px;
    }
    .accordeon__content-img {
      width: 32%;
      padding: 6px;
    }
   .accordeon__content-inner {
      width: 58%;
     }
   .accordeon__content-title {
    font-size: 18px;
   }

}



