.section__gallery {
    background-image: url(../image/gallery/gellery-backimage.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 75px;
    color: var(--white-col-1);
}
.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.gallery__info {
  width: calc(400/1600 *100%);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__slider {
  width: calc(1151/1600 *100%);
}
.gallery__title {
    margin-bottom: 16px;
}
.gallery__text {
    margin-bottom: 10px;
}
.gallery__select {
  width: 100%;
  height: 40px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  position: relative;
}
.choices {
  color: var(--white-col-1);
  width: 100%;
}
 
.choices__inner:hover ,
.choices__inner:hover .choices__list{  
  background-color: rgba(255, 255, 255, 0.2);
}

.choices.is-open .choices__inner {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.choices__inner {
  background-color: var(--black-col-1);
  border-radius: 9px;
}
.choices__list {
  background-color: var(--black-col-1);  
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: var(--grey-col-1);
}

.choices__list--dropdown, .choices__list[aria-expanded].is-active {  
  border-color: var(--grey-col-1);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted  {
  background-color:  rgba(255, 255, 255, 0.2);
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]::after {
  border: none;
  background-image: url(../image/gallery/selectdown.svg);
  width: 12px;
  height: 7px;
  transition: transform .3s ease-in-out;
}
.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg);
  margin-top: -3px;
}
.checkbox__item {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-bottom: 2px;
  position: relative;
  cursor: pointer;
  line-height: 32px;
  max-width: 147px;
  transition: color .3s ease-in-out;
}
.checkbox__input {
  display: none;
}
.checkbox__input + span {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid  var(--white-col-1);
    top: 30%;
    left: 0;
    transition: color .3s ease-in-out , border-color .3s ease-in-out;
}

.checkbox__input + span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  background-color: var(--orange-col-1);
  opacity: 0  ;
  transition: opacity .3s ease-in-out,
              border .3s ease-in-out;
}

.checkbox__input:checked + span:before {
  opacity: 1;
}
.checkbox__input:checked + span {
  border: 1px solid var(--orange-col-1);
}
.checkbox__input:checked ~ span {  
  color: var(--orange-col-1);
}
.checkbox__input:hover + span {  
  border-color: var(--orange-col-2);
}
 

/* .checkbox__item:focus > span:before {
  opacity: 1;
} */

.checkbox__item:focus:not(:hover) > span {
  border-color: var(--orange-col-2);
}
.checkbox__item:focus:not(:hover)  {
  color: var(--orange-col-2);
}


.checkbox__item:focus {
  outline: none;
}
/* ------------------- slider -------------*/

.gallery__slider {
  padding-top: 47px;
}

.gallery__controls {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    position: relative;
    justify-content: space-between;
    max-width: 150px;
}
.gallery__btn {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--black-col-3);
  border: none;
  border-radius: 50%;
  transition: background-color .3s ease-in-out;

}
.gallery__btn:hover:not(.gallery__btn-disabled) {
  background-color: var(--orange-col-1);
}
.gallery__btn:active {
  background-color: var(--orange-col-4);
  box-shadow: 0 0 0 3px var(--black-col-1);
}
.gallery__btn:focus{
  outline: none;
  box-shadow: 0 0 0 3px var(--black-col-1);
}

.gallery__btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gal__btn-prev {
  margin-right: 10px;
  left: 5%;
}
.gal__btn-next {
  right: 13%;
}

.gallery__btn-disabled {
  background-color: #ECECEC;
  
}
.gallery__btn-disabled.swiper-button-prev::after {
  border-color: var(--white-col-4);
}
.gallery__btn-disabled.swiper-button-next::after{
  border-color: var(--white-col-4);
}

.gal__btn-next::after {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.gal__btn-prev::after {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__pag {
  text-align: center;
  color: var(--white-col-1);
  bottom: -4px;
  left: -8px;
}

.gallery__slide {
  position: relative;
  overflow: hidden;

}
.gallery__slide::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 97%;
  display: block;
  border: 3px solid transparent;
  z-index: 1;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__slide:after {
  content: "";
  position: absolute;
  width: 81%;
  height: 81%;
  top: 10%;
  left: 10%;
  opacity: 0;
  background-image: url(../image/gallery/hover.png);
  background-color: var(--grey-col-2);
  background-position: center;
  z-index: 2;
  transition: opacity .5s ease;
}

.gallery__slide:hover::after{
  opacity: 1;
}

.gallery__slide:focus:not(:active):not(:hover):before {
  border-color: var(--orange-col-4);
}

.gallery__slide:active:before {
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__slide:focus {
  outline: none;
}

.gallery__slider-image {
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {

  .section__gallery {
    padding-bottom: 77px;
  }
  .gallery__info {
    width: calc(280/924 *100%);
  }
  .gallery__checkbox {
    height: 33%;
    margin-bottom: 14px;
  }
  .gallery__slider {
    width: calc(593/924 *100%);
  }

  .gallery__slide::after {
    left: 9%;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .gallery__pag {
    left: -11px;
    bottom: 5px;
  }

  .gallery__slider-image {
    width: 100%;
  }
   .swiper-pagination-fraction {
    bottom: 5px;
  }
}

@media only screen and    (max-width: 768px) {
  .section__gallery {
    padding-top: 80px;
    padding-bottom: 77px;
  }
  .gallery__wrapper {
    flex-direction: column;
  }
  .gallery__info {
    width: 100%;
    margin-bottom: 42px;
  }
  .gallery__text {
    margin-bottom: 10px;
  }
  .gallery__select {
    margin-bottom: 40px;
    max-width: 281px;
  }
  .gallery__slider {
    width: 100%;
    padding-top: 0;
  }
  .gallery__slider-image {
    font-size: 0;
  }
}

@media only screen and (max-width: 480px) {
  .section__gallery {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gallery__slider {
    position: relative;
    padding-bottom: 70px;
  }
  .gallery__controls {
    position: absolute;
    bottom: -5%;
    left: 33%;
    width: 150px;
  }
   .gallery__slide {
    max-width: 100%;
  }
  .gallery__slider-image {
    object-fit: fill;
  }
  .gallery__slide::before {
    width: 98%;
    height: 98%;
    border-width: 4px;
  }
  /* .swiper-button-prev {
    left: -38px;
  }
  .swiper-button-next {
    right: -21px;
  }
  .swiper-pagination {
    left: -9px;
  } */
}
@media only screen and (max-width: 324px) {

  .section__gallery {
    padding-bottom: 46px;
  }
  .gallery__info {
    margin-bottom: 9px;
  }
  .gallery__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 14px;
  }
  .gallery__controls {
    bottom: -6%;
    left: 28%;
  }
  .gallery__text {
    margin-bottom: 4px;
  }
  .gallery__select {
    max-width: 290px;
    margin-bottom: 30px;
  }
  .checkbox__item {
    padding-left: 24px;
  }
  .gallery__slider {
    padding-bottom: 55px;
  }
  .gallery__wrapper-slide{
    height: 366px;
  }
}
