@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerRegular.woff');
  src: local('Muller Regular'), local('MullerRegular'),
      url('MullerRegular.woff2') format('woff2'),
      url('/fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
font-family: 'Open Sans';
src: url('/fonts/OpenSans-Bold.eot');
src: local('Open Sans Bold'), local('OpenSans-Bold'),
      url('/fonts/OpenSansBold.woff2') format('woff2'),
  url('/fonts/OpenSans-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
  font-display: swap;
}

@font-face {
font-family: 'Open Sans';
src: url('/fonts/OpenSans-Italic.eot');
src: local('Open Sans Italic'), local('OpenSans-Italic'),
      url('/fonts/OpenSansItalic.woff2') format('woff2'),
  url('OpenSans-Italic.woff') format('woff');
font-weight: normal;
font-style: italic;
  font-display: swap;
}

@font-face {
font-family: 'Open Sans';
src: url('/fonts/OpenSans-Regular.eot');
src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url('/fonts/OpenSansRegular.woff2') format('woff2'),
  url('/fonts/OpenSans-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
  font-display: swap;
}
@font-face {
font-family: 'Open Sans';
src: url('/fonts/OpenSans-SemiBold.eot');
src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
      url('/fonts/OpenSansSemiBold.woff2') format('woff2'),
  url('OpenSans-SemiBold.woff') format('woff');
font-weight: 600;
font-style: normal;
  font-display: swap;
}


html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img , svg {
max-width: 100%;
height: auto;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: var(--fsz-sm);
  font-weight: 400;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

h2 {
  font-size: var(--fsz-lg);
  line-height: 65px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.container {
  max-width: var(--cont-width);
  padding: 0 var(--cont-padding);
  margin: 0 auto;
}

.none {
  display: none ;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
.top__box {
  position: relative;
}
.text {
  font-size: var(--fsz-sm2);
  line-height: 32px;
  font-weight: 400;
}
.pos-relative {
  position: relative;
}
