.link-text {
  transition: color .3s ease-in-out;
  line-height: 1;
}
.link-text::before {
content: "";
position: absolute;
background-color: var(--orange-col-4);
transform: scaleX(0);
transition: transform .3s ease-in;
top: -3px;
left: -6px;
right: -6px;
bottom: -3px;
}
.link-text:hover {
color: var(--orange-col-2);
}
.link-text:focus:not(:active):not(:hover):before {
transform: scaleX(1);
}
.link-text:active {
color: var(--orange-col-4);
}
.link-text:focus {
  outline: none;
}
